In [58]:
import numpy as np
import pandas as pd

# Function to generate similar movies recommendations
def top_similar_movies(title, n):
    # Read input data files
    links = pd.read_csv('links.csv')
    movies = pd.read_csv('movies.csv')
    ratings = pd.read_csv('ratings.csv')
    tags = pd.read_csv('tags.csv')

    # create df with movie id , title , genres & year
    movie_title = movies[['movieId', 'title', 'genres']]

    # create df with movie titles & ratings
    title_ratings = ratings.merge(movie_title, on="movieId", how='right')

    # create rating count column
    movie_rating_count = pd.DataFrame(title_ratings.groupby('title')['rating'].count()).rename(columns={'rating':'rating_count'})

    # create user-item matrix (user_item_df in previous version)
    user_item_title = pd.pivot_table(data=title_ratings, values='rating', index='userId', columns='title')
    
    movie_ratings = user_item_title.loc[:,title]
    similar_to_movie = user_item_title.corrwith(movie_ratings)
    corr_movie = pd.DataFrame(similar_to_movie, columns=['PearsonR'])
    corr_movie.dropna(inplace=True)
    corr_summary = corr_movie.join(movie_rating_count['rating_count'])
    corr_summary.drop(title, inplace=True)
    top = corr_summary[corr_summary['rating_count']>=100].sort_values('PearsonR', ascending=False).head(n)
    return top

top_similar_movies('eXistenZ (1999)', 5)

/Users/crystalyt/opt/anaconda3/lib/python3.9/site-packages/numpy/lib/function_base.py:2845: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/Users/crystalyt/opt/anaconda3/lib/python3.9/site-packages/numpy/lib/function_base.py:2704: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)

                                   PearsonR  rating_count
title
Up (2009)                          0.843750           105
Die Hard: With a Vengeance (1995)  0.778499           144
Incredibles, The (2004)            0.776739           125
Cliffhanger (1993)                 0.720577           101
Catch Me If You Can (2002)         0.719874           115